[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pymongo = "==3.6.0"
lxml = "*"
"beautifulsoup4" = "*"
dnspython = "*"
"urllib3" = "*"


[packages]

